# Keep project folder, ignore only env internals
echolens_env/Lib/
echolens_env/Scripts/
echolens_env/Include/
echolens_env/share/
echolens_env/pyvenv.cfg

# Nested accidental env
echolens_env/echolens_env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/

# VS Code
.vscode/

# Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Secrets
.env